<div class="container">
    <nb-card class="boxer">
        <nb-card-header class="header">
            <h1>Register</h1>
        </nb-card-header>
        <nb-card-body class="body">
            <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="box-input">
                    <label>Nombre</label>
                    <input nbInput placeholder="Ingresa tu Nombre" formControlName="name">
                </div>
                <div class="box-input">
                    <label>Apellido</label>
                    <input nbInput placeholder="Ingresa tu Apellido" formControlName="lastname">
                </div>
                <div class="box-input">
                    <label>Email</label>
                    <input nbInput placeholder="Ingresa tu Email" formControlName="email">
                </div>
                <div class="box-input">
                    <label>Password</label>
                    <input nbInput type="password" placeholder="Contraseña min 8 caracteres" formControlName="password">
                </div>
                <div class="box-input">
                    <label>Nickname</label>
                    <input nbInput placeholder="Ingresa tu Nickname" formControlName="nickname">
                </div>
                <div class="box-input">
                    <button type="submit" nbButton status="success" [disabled]="!registerForm.valid">Registrar</button>
                </div>
                <div class="box-input">
                    <a [routerLink]="['/login']">¿Ya tienes una cuenta? Iniciar sesion.</a>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>