<div class="verification-container">
    <nb-card class="verification-card">
        <nb-card-header class="verification-header">
            <h1>Verificar Código</h1>
        </nb-card-header>
        <nb-card-body>
            <form class="verification-form" [formGroup]="verifyForm" (ngSubmit)="verify()">
                <p class="description">Ingresa el código que hemos enviado a tu correo para verificar tu cuenta.</p>
                <div class="form-group">
                    <input id="verificationCode" class="form-control" formControlName="verificationCode" placeholder="Ingresa tu Código de Verificación">
                </div>
                <div class="form-group">
                    <button type="submit" nbButton status="success" [disabled]="!verifyForm.valid" class="submit-button">Enviar</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>
