<div class="box">
    <nb-card class="box-perfil">
        <h2>Perfil</h2>
        <button class="btn-perfil"><img src="/src/assets/img/arthur_morgan.jpg" alt=""></button>
        <h3>Nombre de usuario</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quod ad explicabo repellendus provident deleniti recusandae. Ut dolores non voluptatem quae optio facere nihil corrupti qui quaerat porro, possimus voluptatum!</p>
        <button nbButton status="success">Guardar</button>
    </nb-card>
</div>