

<div class="container">
  <nb-card class="card">
    <nb-card-body>
      <div class="title-1">
        <h1>Dispositivos</h1>
      </div>
      <div class="devices">
        <div class="device">
          <h2 class="title">Brazalete</h2>
          <p class="description">Un dispositivo portátil que te ayuda a monitorear tu actividad física y tu salud en tiempo real. Ideal para medir pasos, ritmo cardiaco y mucho más.</p>
          <img src="assets/img/smartwatch.png" alt="FOTO DEL BRAZALETE">
        </div>
        <div class="device">
          <h2 class="title">Pesa</h2>
          <p class="description">Una pesa moderna que te permite controlar tu peso y otros parámetros importantes como el índice de masa corporal. Precisa y fácil de usar.</p>
          <img src="assets/img/pesacolor.png" alt="FOTO DE LA PESA">
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card class="card">
    <nb-card-header class="header">
      <h1 class="title-1">Hábitos</h1>
    </nb-card-header>
    <nb-card-body class="body-habit">
      <div class="habit">
        <div class="text">
          <h1 class="title">Contador de pasos</h1>
          <p>En nuestros brazaletes tienen para poder mostrar el contador de los pasos que das en tiempo real, también cuenta con la opción para poder ajustar una alarma según los pasos que el usuario quiera dar. Por ejemplo, cada vez que das 50 pasos con el brazalete HealthyApp puesto, la alarma se accionará y te avisará que has alcanzado tu meta, esto con el fin de incentivar al usuario a una vida sana y saludable.</p>
        </div>
        <div class="image">
          <img class="img-habit" src="assets/img/corriendo.png" alt="FOTO DEL SENSOR DE PASOS O SU RESPUESTA">
        </div>
      </div>

      <div class="habit">
        <div class="text">
          <h1 class="title">Control de alcohol</h1>
          <p>También ofrecemos un control de alcohol dentro de nuestro organismo, esto medido por porcentajes y un sistema de alertar con recomendaciones cada vez que lleguemos a un porcentaje específico de alcohol en el organismo. Esto con el fin de que el usuario conozca con precisión el nivel por porcentaje de alcohol y pueda tomar sus precauciones.</p>
        </div>
        <div class="image">
          <img class="img-habit" src="assets/img/alcoholimetro.png" alt="FOTO DEL SENSOR DE ALCOHOL O SU RESPUESTA">
        </div>
      </div>

      <div class="habit">
        <div class="text">
          <h1 class="title">Contador de distancia</h1>
          <p>El contador de distancia, al igual que el contador de pasos, ofrece un sistema de alertas para avisar al usuario que alcanzó su meta.</p>
        </div>
        <div class="image">
          <img class="img-habit" src="assets/img/hamster.jpg" alt="FOTO DEL SENSOR DE DISTANCIA O SU RESPUESTA">
        </div>
      </div>

      <div class="habit">
        <div class="text">
          <h1 class="title">Temperatura</h1>
          <p>El hábito de temperatura funciona para tener un control sobre la temperatura corporal del usuario.</p>
        </div>
        <div class="image">
          <img class="img-habit" src="assets/img/temperatura.png" alt="FOTO DEL SENSOR DE TEMPERATURA O SU RESPUESTA">
        </div>
      </div>

      <div class="habit">
        <div class="text">
          <h1 class="title">Ritmo cardiaco</h1>
          <p>El ritmo cardiaco es muy útil dentro de nuestro dispositivo brazalete HealthyApp porque nos avisa sobre nuestro nivel de pulsaciones. Esto con el fin de conocer el ritmo de nuestro corazón y tomar las medidas necesarias para cuidar nuestra salud.</p>
        </div>
        <div class="image">
          <img class="img-habit" src="assets/img/hamster.jpg" alt="FOTO DEL SENSOR DE RITMO CARDIACO O SU RESPUESTA">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>