.container{
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    border: 1px solid rgb(218, 215, 215);
    border-radius: 10px;
    padding: 5px;
}
.img{
    display: flex;
    justify-content: center;
    width: 48%;
    border: 1px solid rgb(218, 215, 215);
    border-radius: 10px;
}
img{
    width: 210px;
    height: 200px;
    border-radius: 10px;    
}