<div class="container">
  <nb-card>
    <nb-card-header class="header">
      <h1>Healthy 💚</h1>
    </nb-card-header>
    <nb-card-body>
      <div class="title-1">
        <h1>Dispositivos 💚HealthyApp</h1>
      </div>
      <div class="devices">
        <div class="dis-brazalete">
          <h2 class="titulo">Brazalete</h2>
          <img src="assets/img/hamster.jpg" alt="FOTO DEL BRAZALETE">
        </div>
        <div class="dis-pesa">
          <h2 class="titulo">Pesa</h2>
          <img src="assets/img/hamster.jpg" alt="FOTO DE LA PESA">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header class="header">
      <h1 class="title-1">Habitos</h1>
    </nb-card-header>
    <nb-card-body class="body-habit">
      <div class="pasos">
        <div class="box-habit">
          <h1 class="titulo">Contador de pasos</h1>
          <h4>En nuestros brazaletes tienen para poder mostrar el contador de los passos que das en tiempo real, tambien cuenta con la opcion para poder ajustar una alarma segun los pasos que el usuario quiera dar, por ejemplo cada ves que das 50 pasos con el brazalete HealthyApp puesto, la alarma se accionara y te avisara de que has alcanzado tu meta, esto con el fin de insitar al usuario a una vida sana y saludable</h4>
        </div>
        <div class="box-img-habit">
          <img class="img-habit" src="assets/img/hamster.jpg" alt="FOTO DEL SENSOR DE PASOS O SU RESPUESTA">
        </div>
      </div>
      <div class="pasos">
        <div class="box-habit">
          <h1 class="titulo">Control de alcohol</h1>
          <h4>Tambien ofrecemos un control de alcohol en nuestra dentro de nuestro organismo, esto medido por porcentajes y un sistema de aletar con recomendaciones cada ves que lleguemos a un porcentaje especifico de alcohol en el organismo, esto con el fin de que el usuario conozca con presicion el nivel por porcentaje de alcohol y pueda tomar sus precauciones</h4>  
        </div>
        <div class="box-img-habit">
          <img class="img-habit" src="assets/img/hamster.jpg" alt="FOTO DEL SENSOR DE PASOS O SU RESPUESTA">
        </div>
      </div>
      <div class="pasos">
        <div class="box-habit">
          <h1 class="titulo">Contador de distancia</h1>
          <h4>El contador de distancia al igual que el contador de pasos ofrece un sistema de alertas para poder avisar al usuario que alcanzo su meta</h4>  
        </div>
        <div class="box-img-habit">
          <img class="img-habit" src="assets/img/hamster.jpg" alt="FOTO DEL SENSOR DE PASOS O SU RESPUESTA">
        </div>
      </div>
      <div class="pasos">
        <div class="box-habit">
          <h1 class="titulo">Temperatura</h1>
          <h4>El habito de temperatura funciona para tener un control sobre de la temperatura corporal del usuario</h4>
        </div>
        <div class="box-img-habit">
          <img class="img-habit" src="assets/img/hamster.jpg" alt="FOTO DEL SENSOR DE PASOS O SU RESPUESTA">
        </div>
      </div>
      <div class="pasos">
        <div class="box-habit">
          <h1 class="titulo">Ritmo cardiaco</h1>
          <h4>El ritmo cardiaco es muy util dentro de nuestro dispositivo brazalete HealthyApp porque nos avisa sobre nuestro nivel de pulsaciones que tiene nuestro corazon, esto con el fin conocer el ritmo de nuestro corazon y tomar las medidas necesarias cuidando nuestra salud</h4>  
        </div>
        <div class="box-img-habit">
          <img class="img-habit" src="assets/img/hamster.jpg" alt="FOTO DEL SENSOR DE PASOS O SU RESPUESTA">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>