<nb-card>
  <nb-layout-column>
    <h1>Pantalla de inicio</h1>
    <button [routerLink]="['/login']" nbButton statu="basic">Login</button>
    <button [routerLink]="['/register']" nbButton statu="basic">Register</button>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis doloremque necessitatibus, harum quasi et, ipsa at unde impedit quos voluptatum in sint neque dolorem nisi praesentium odio explicabo velit voluptates!</p>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptate quos reiciendis fugit, dolorum fuga! Error fugiat atque temporibus, fugit maxime sint esse, dolor ullam, soluta tempora iure? Totam, explicabo.</h1>
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat culpa eveniet dolorem eius. Nobis repudiandae cum esse beatae omnis temporibus reiciendis eos veniam aliquid voluptas laudantium soluta eum, ullam adipisci!</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptas quo nihil saepe laborum fugit eaque maxime ullam eligendi at qui veritatis ipsam, voluptate optio distinctio nulla quasi sequi explicabo.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis expedita, placeat perspiciatis optio enim quia recusandae ipsam neque eaque, libero consequatur magni laboriosam! Autem et, odit cupiditate quisquam saepe itaque?</h1>
  </nb-layout-column>
</nb-card>