.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 40%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 10px;
    width: 100%;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    gap: 10px;
    width: 100%;
}
input{
    width: 100%;
}
button{
    width: 71%;
}
