<div *ngIf="loading" class="loading">
  <h1>Cargando dispositivos...</h1>
  <p>Este proceso puede tardar unos segundos</p>
  <nb-spinner *ngIf="loading"></nb-spinner>
</div>
<div class="box-mis-dispositivos" *ngIf="!loading">
    <nb-card class="box">
      <nb-card-header style="display: flex; justify-content: space-between; margin-bottom: 1rem;">
        <h4>Mis Dispositivos</h4>
        <button nbButton fullWidth style="max-width: 25rem;" hero size="small" status="success" (click)="openDialog()"><nb-icon icon="plus"></nb-icon>  Registrar Dispositivo</button>
      </nb-card-header>
      <nb-card-body *ngIf="dispositivo==null"  style="display: flex; justify-content: center; ">
        <h3 >Aún no tienes dispositivos registrados</h3>
      </nb-card-body>


        <nb-card *ngFor="let item of dispositivo">
            <nb-card-header style="display: flex; justify-content: space-between; align-items: center;">
              <h5> Dispositivo:  {{item.name}}</h5>
              <h6 style="margin-right: 2rem;">S/N: {{item.DispositiveID}}</h6>
            </nb-card-header>
            <nb-card-body>
                <table nbTable>
                    <tbody>
                      <tr>
                        <td *ngFor="let sensor of item.Sensors">
                          <div *ngIf="sensor.sensorType!='Pantalla' &&sensor.active==true">
                            <button class="sbtn" nbButton status="success"  (click)="dispositivoClick(item.DispositiveID, sensor.sensorID)">{{ sensor.sensorType }} : {{sensor.sensorID}}</button>
                          </div>
                       </td>
                      </tr>
                      <tr>
                        <td *ngFor="let sensor of item.Sensors">
                          <div *ngIf="sensor.sensorType!='Pantalla'&&sensor.active==true">
                            <span *ngIf="sensor.data[0] == null">Sin datos</span>
                            <span *ngIf="sensor.data[0] != null">{{ sensor.data[0].value}} {{ sensor.unit }}</span>

                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </nb-card-body>
        </nb-card>
    </nb-card>
</div>

