<div *ngIf="loading" class="loading">
  <h1>Cargando dispositivos...</h1>
  <p>Esto puede tardar segun los dispositivos que tengas, la paciencia es una virtud</p>
  <nb-spinner *ngIf="loading"></nb-spinner>
</div>
<div class="box-mis-dispositivos" *ngIf="!loading">
    <nb-card class="box">
        <nb-card *ngFor="let item of dispositivo">
            <nb-card-header><h2> Nombre del dispositivo: {{item.name}}</h2></nb-card-header>
            <nb-card-body>
                <table nbTable>
                    <tbody>
                      <tr>
                        <td *ngFor="let sensor of item.Sensors">
                          <button class="sbtn" nbButton status="success"  (click)="dispositivoClick(item.DispositiveID, sensor.sensorID)">Id:{{sensor.sensorID}} {{ sensor.sensorType }}</button>
                        </td>
                      </tr>
                      <tr>
                        <td *ngFor="let sensor of item.Sensors">
                            <span>{{ sensor.data[0].value}} {{ sensor.unit }}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </nb-card-body>
        </nb-card>
    </nb-card>
</div>

