<nb-layout>
    <nb-layout-header fixed class="bar">
        <div class="nav-bar">
            <div class="logo-container" [routerLink]="['/']">
                <img class="logo" src="assets/img/Healthy_Logo_Heart.png" >
                <span class="logo-text" >Healthy</span>
            </div>
            <div class="nav-actions">
                <button *ngIf="isLoggedIn() && isRole('user')" nbButton [routerLink]="['/mis-dispositivos']">Mis Dispositivos</button>
                <button *ngIf="isRole('admin')" nbButton [routerLink]="['/lista-usuarios']">Dispositivos de usuarios</button>
                <button *ngIf="!isLoggedIn()" nbButton [routerLink]="['/login']">Iniciar sesión</button>
                <button *ngIf="isLoggedIn()" nbButton (click)="logout()">Cerrar sesión</button>

            </div>
        </div>
    </nb-layout-header>
    <nb-layout-column class="body">
        <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer>
        <div class="footer">
            <p>Integradora II</p>
            <p>HealthyApp💚</p>
        </div>
    </nb-layout-footer>
</nb-layout>
