.bar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgb(60, 202, 67);
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

.logo{
    width: 62px;
    height: 62px;
}

.nav-actions {
    display: flex;
    align-items: center;
}

.custom-select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.select{
    margin-right: 25px;
}
.log{
    margin:10px;
}


