<div class="box-form-login">
    <nb-card class="card-login">
        <form class="form-login" [formGroup]="loginForm" (ngSubmit)="login()">
            <h1>INICIAR SESION</h1>
            <div class="box-input">
                <label class="input">Email / Username</label>
                <nb-form-field>
                    <input placeholder="Ingresa tu email" nbInput formControlName="uid">
                </nb-form-field>
                <div *ngIf="loginForm.get('uid')?.touched && loginForm.get('uid')?.invalid" class="error">
                    Este campo es requerido.
                </div>
            </div>
            <div class="box-input">
                <label class="input">Contraseña</label>
                <nb-form-field>
                    <input placeholder="Ingresa tu contraseña" nbInput type="password" formControlName="password">
                </nb-form-field>
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error">
                    Este campo es requerido.
                </div>
            </div>
            <div class="box-btn">
                <button class="btn" type="submit" (click)="login()" nbButton status="basic" [disabled]="!loginForm.valid">Iniciar sesion</button>
            </div>
            <div class="footer-login">
                <a [routerLink]="['/Recuperar/pass']">Recuperar contraseña</a>
                <a [routerLink]="['/register']">Crear cuenta</a>
            </div>
        </form>
    </nb-card>
</div>