<div class="container">
    <nb-card class="card">
        <nb-card-header class="header">
            <h1>Iniciar Sesion</h1>
        </nb-card-header>
        <nb-card-body>
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="input-box">
                    <label for="">Email</label>
                    <input nbInput placeholder="Ingresa tu email" formControlName="uid">
                </div>
                <div class="input-box">
                    <label for="">Contraseña </label>
                    <input nbInput type="password" placeholder="Ingresa tu contraseña" formControlName="password">
                </div>
                <div class="input-box">
                    <button type="submit" nbButton status="success" [disabled]="!loginForm.valid">Iniciar sesion</button>
                </div>
                <div class="footer">
                    <a [routerLink]="['/recuperar-contrasena']">Recuperar contraseña</a>
                    <a [routerLink]="['/register']">Crear cuenta</a>
                </div>
                <div class="verificar">
                    <a [routerLink]="['/verificar']">Verificar cuenta</a>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>