.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
}
.table-sensors{
    width: 99%;
}
.box{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px ;
    background: rgb(60, 202, 67);
}
td{
    border: 1px solid rgb(199, 193, 193);
    text-align: center;
    border-radius: 5px;
}
table{
    width: 100%;
}
th{
    border: 1px solid rgb(199, 193, 193);
    text-align: center;
    border-radius: 5px;
    background: rgb(60, 202, 67);
}
.tr{
    display: flex;
    flex-direction: column;
}
.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    align-items: center;
}