.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-sensors{
    width: 99%;
}
.select, .selects h2{
    margin-left: 0.6rem;
    margin-bottom: 1rem;
}
.selects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 1.2rem;
}
.box{
    width: 80%;
    min-width: 43rem;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    justify-content: space-around;
    padding: 10px ;
    background: repeating-radial-gradient(rgb(232, 232, 232),rgba(121, 226, 126, 0.955));
    box-shadow: 1px 5px 12px 1px rgba(0, 0, 0, 0.221);
}
td{
    border: 1px solid rgb(199, 193, 193);
    text-align: center;
    border-radius: 5px;
}
th{
    border: 1px solid rgb(199, 193, 193);
    text-align: center;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    background: repeating-radial-gradient(rgb(126, 214, 130),rgba(60, 202, 67, 0.933));
}
.tr{
    display: flex;
    flex-direction: column;
}
.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    align-items: center;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 10px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    button {
      margin: 0 5px;
      padding: 5px 10px;
    }
    
    span {
      margin: 0 10px;
      line-height: 32px;
    }
  }