<div class="container">
    <nb-card class="box">
        <nb-card class="table-sensors">
            <nb-card-header class="header">
                <h2>Datos de sensores</h2>
                <nb-select class="select" placeholder="Filtrar por fecha" (selectedChange)="filtrarPorFecha($event)">
                    <nb-option value="1">Por Semana</nb-option>
                    <nb-option value="2">Por Dia</nb-option>
                    <nb-option value="3">Ultimo 1 hora</nb-option>
                    <nb-option value="4">Ultimo 30 min</nb-option>
                </nb-select>
                <nb-select class="select" placeholder="Filtrar por sensor">
                    <nb-option (click)="sensorClick(item)" *ngFor="let item of sensor" [value]="item.id" >ID:{{item.id}}  Tipo:{{item.type}}</nb-option>
                </nb-select>
            </nb-card-header>
            <nb-card-body>
                <table>
                    <thead>
                        <tr>
                            <th>Valor</th>
                            <th>Unidad</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div *ngIf="loading" class="loading">
                            <h3>Cargando datos del sensor...</h3>
                            <p>Esto puede tardar unos segundos.</p>
                            <nb-spinner *ngIf="loading"></nb-spinner>
                        </div>
                        <tr *ngFor="let item of reportTime">
                            <td>{{item.value}}</td>
                            <td>{{item.identifier}}</td>
                            <td>{{item.timestamp}}</td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </nb-card>
</div>