<div class="container">
    <nb-card class="box">
        <nb-card class="table-sensors">
            <nb-card-header class="header">
                <h2>Datos de sensores</h2>
                <nb-select class="select" placeholder="Filtrar por fecha">
                    <nb-option value="1">Por Semana</nb-option>
                    <nb-option value="2">Por Dia</nb-option>
                    <nb-option value="3">Ultimo 1 hora</nb-option>
                    <nb-option value="4">Ultimo 30 min</nb-option>
                </nb-select>
                <nb-select class="select" placeholder="Filtrar por sensor">
                    <nb-option (click)="sensorClick(item)" *ngFor="let item of sensor" [value]="item.id" >ID:{{item.id}}  Tipo:{{item.type}}</nb-option>
                </nb-select>
            </nb-card-header>
            <nb-card-body>
                <table>
                    <thead>
                        <tr>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngFor="let item of sensorValue">{{item.value}} {{item.unit}}</td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </nb-card>
</div>