<div>
    <nb-card>
        <nb-card-header>
            <h1>Lista de usuarios</h1>
        </nb-card-header>
        <nb-card-body>
            
        <nb-card *ngFor="let item of usuarios">
            <nb-card-header style="display: flex; justify-content: space-between; align-items: center;">
                <button nbButton style="display: flex; justify-content: space-between; align-items: center; " outline status="success" (click)="sacarID(item.id)">                <h5> Usuario:  {{item.nickname}}</h5>
                    <h6 style="margin-right: 2rem; width: 100%;">S/N: {{item.id}}</h6></button>

            </nb-card-header>
        </nb-card>
            
        </nb-card-body>
    </nb-card>
</div>